.footer {
    background-color: $dark-color;
}
.footer-navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    a {
        font-family: 'Futurabook';
        color: $main-color;
        text-decoration: underline;
        flex-basis: 11%;
    }
    h3 {
        flex-basis: 25%;
    }
}