@import '../abstracts/variables';

body {
    margin: auto;
    max-width: 1440px;
    height: auto;
    width: 100%;
    background-color: $body-color;
}
.header {
    display: grid;
    height: 838px;
}
.projects {
    display: grid;
    height: 665px;
}
.video {
    display: grid;
    height: 633px;
}
.personal_data {
    display: grid;
    height: 443px;
}
.repair_types {
    display: grid;
    height: auto;
}
.free_service {
    display: flex;
    height: auto;
}
.styles {
    display: grid;
    height: 1118px;
}
.design_price {
    display: grid;
    height: auto;
}
.how_work {
    display: flex;
    height: 800px;
}
.team {
    display: grid;
    height: auto;
}
.clients {
    display: grid;
    height: auto;
}
.questions {
    display: grid;
    height: 602px;
}
.map {
    display: flex;
    height: auto;
}
.footer {
    display: grid;
    height: 133px;
}
@media screen and (max-width: 1160px) {
    .how_work {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .footer {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .styles {
        height: auto;
    }
}
@media screen and (max-width: 550px) {
    body {
        width: 100%;
        height: auto;
    }
    .header {
        height: auto;
    }
    .projects {
        height: 700px;
    }
    .video {
        height: 552px;
    }
    .personal_data {
        height: 355px;
    }
    .repair_types {
        height: auto;
    }
    .free_service {
        display: none;
    }
    .styles {
        height: auto;
    }
    .price {
        height: auto;
    }
    .how_work {
        display: none;
    }
    .team {
        height: auto;
    }
    .clients {
        display: none;
    }
    .questions {
        display: grid;
        height: auto;
    }
    .map {
        display: flex;
        height: auto;
    }
}