.how_work {
    padding-top: 100px;
    justify-content: space-around;
    background-color: $dark-color;
}
.how_work-text {
    flex-basis: 22%;
    h4 {
        color: white;
    }
    aside {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
        line-height: 25px;
        color: white;
        text-transform: uppercase;
    }
    h2, h5 {
        color: $main-color;
    }
    h5 {
        margin: 15px auto;
    }
    p {
        font-family: 'FuturaBook';
        font-size: 0.9375em;
        line-height: 25px;
        color: white;
    }
}
.how_work-text-block {
    margin-top: 92px;
}
.how_work-text-circles {
    grid-area: circles;
    position: relative;  
    width: 100%;
    margin: 50px;
    margin-left: 10%;
  }
  .how_work-text-circles-pagination {
      position: absolute;
      left: 0;
      &:nth-child(2) { left: 30px; }
      &:nth-child(3) { left: 60px; }
      &:nth-child(4) { left: 90px; }
      &:nth-child(5) { left: 120px; }
      &:nth-child(6) { left: 150px; }
      &:nth-child(7) { left: 180px; }
  }
  .how_work-text-circles-circle {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;  
    background-color: $white-gray;
    border: 1px solid $white_gray;
    border-radius: 100%;
  }
  
  .active {
    background: white;
  }
.how_work-panel {
    margin-top: 90px;
    flex-basis: 60%;
}
.how_work-panel-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 63px;
}