.map {
    flex-direction: column;
    justify-items: center;
//    grid-template-rows: 100px 90px 1fr;
    padding-bottom: 40px;
    background-color: $foot-back-color;
    h6 {
        color: $main-color;
    }
    @media screen and (max-width: 550px) {
        background-color: $dark-color;
    }
}
.map-icons {
    align-self: center;
    button {
        margin-left: 15px;
        background: transparent;
        border: 0;
        cursor: pointer;
        &:hover {
            img {
                width: 31px;
                height: 32px;
            }
        }
    }
}
.map-main_image {
    max-width: 933px;
    width: 100%;
    margin-top: 30px;
    align-self: center;
}
@media screen and (max-width: 700px) {
    .map-main_image {
        order: 1;
    }
    .map h6 {
        order: 2;
    }
    .map-icons {
        order: 3;
    }
}